<div class="sidebar">
    <div class="header">
        <i class="header-icon ims-icon-font-menu"></i>解决方案
    </div>
    <ul>
        <li class="active">
            <div class="title">
                <i class="title-icon ims-icon-font-right"></i>
                <span>行业解决方案</span>
            </div>
            <ul>
                <li class="selected"><a href="#"><i class="menu-icon ims-icon-font-email"></i> 银行金融</a></li>
                <li><a href="#"><i class="menu-icon ims-icon-font-email"></i> 电力石化</a></li>
                <li><a href="#"><i class="menu-icon ims-icon-font-weibo"></i> 政府机构</a></li>
                <li><a href="#"><i class="menu-icon ims-icon-font-dianhua"></i> 电信运营商</a></li>
            </ul>
        </li>
        <li class="active">
            <div class="title">
                <i class="title-icon ims-icon-font-right"></i>
                <span>通用解决方案</span>
            </div>
            <ul>
                <li><a href="#"><i class="menu-icon ims-icon-font-email"></i> 小型企业</a></li>
                <li><a href="#"><i class="menu-icon ims-icon-font-weibo"></i> 办公楼</a></li>
            </ul>
        </li>
    </ul>
</div>