@using Site.Models;
@section head {
    <link href="@Url.Content("~/content/theme/about.css")" rel="stylesheet" type="text/css" />
}

<div class="page-top-banner page-about">
    <div class="container">
        <div class="header">
            <h3>公司简介</h3>
            <p>帮助客户全面了解公司概况与核心能力。</p>
        </div>
    </div>
</div>

<div class="page-common-content about-content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="#">关于我们</a></li>
            <li class="active">公司简介</li>
        </ol>
        <div class="about-viewport">
            <div class="company-title">
                <h4>
                    @iMStore.Company
                </h4>
            </div>
            <div class="company-image">
                <img src="~/Content/images/company-image.jpg" alt="" />
            </div>
            <div class="company-content">
                <h6>公司简介</h6>
                <div class="company-text">
                    <p>
                        漳州市艾睿普软件技术有限公司成立于2018年，是一家提供全套信息化建设解决方案、系统集成的高科技企业。业务领域包括：数据中心机房建设、机房动力环境监控系统、IT设备运维管理、通信工程、综合布线、网络安全、服务器、网络安全备份系统等。
                    </p>
                    <p>
                        公司自成立之日起一直为中国联通、中国铁塔、中国电信三大运营商提供机房动力环境监控系统的配套建设服务，从运营商前期的产品选型、到入围后的服务我们一直秉承“专业、贴心、高效、完美”的服务宗旨，用我们的热忱和专业为客户提供快捷、高效的售后服务，解除客户的后顾之忧。
                    </p>
                    <p>
                        公司一直致力于让数据中心更加简单、安全、高效、节能。在模块化数据中心、监控管理、节能改造及远程运维服务等领域，为超过1000个数据中心客户提供了行业领先的解决方案及全国范围内专业的技术服务保障。
                    </p>
                </div>
                <h6>发展历程</h6>
                <div class="company-text">
                    <h5>2019年</h5>
                    <ul class="company-timer">
                        <li><i class="ims-icon-font ims-icon-font-time"></i>公司通过对多行业项目经验的积累，推出适应不同行业的综合监控解决方案。</li>
                        <li><i class="ims-icon-font ims-icon-font-time"></i>公司推出首款IMMU嵌入式前置服务器机房现场管理设备。</li>
                    </ul>
                    <h5>2018年</h5>
                    <ul class="company-timer">
                        <li><i class="ims-icon-font ims-icon-font-time"></i>公司成立组态研发团队，研发出新一代3D组态机房监控软件。</li>
                        <li><i class="ims-icon-font ims-icon-font-time"></i>公司成立，自主研制出行业领先的《动力环境综合监控系统》。</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/scripts/about.js")" type="text/javascript"></script>
}