@model Site.Models.NewsModel
<div class="page-top-banner page-about">
    <div class="container">
        <div class="header">
            <h3>公司简介</h3>
            <p>阿里云专家服务团队为用户提供应用、安全、数据等各种服务来提升用户应用系统性能，让用户的应用和<br>服务在云上更好的运转。</p>
        </div>
    </div>
</div>

<div class="page-common-content about-content">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="#">关于我们</a></li>
            <li class="active">公司简介</li>
        </ol>
        <div class="row">
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/scripts/about.js")" type="text/javascript"></script>
}