ul, ol {
    list-style: none;
}

h1, h2, h3, dd, ul, ol {
    margin: 0;
    padding: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
}

.sidebar > .header {
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

.sidebar > .header > .header-icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar > ul > li {
    margin: 0;
    padding: 0;
    position: relative;
}

.sidebar > ul > li .title {
    color: #fff;
    background: #373d41 none repeat scroll 0 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding:10px 20px;
}

.sidebar > ul > li .title > .title-icon {
    display: inline-block;
    margin-right: 15px;
    font-size: 12px;
    transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
}

.sidebar > ul > li.active .title > .ims-icon-font-right {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.sidebar > ul > li > ul {
    display: block;
    overflow: hidden;
}

.sidebar > ul > li > ul > li {
    margin: 0;
    padding: 0;
    position: relative;
}

.sidebar > ul > li > ul > li a {
    width: 100%;
    color: #fff;
    display: block;
    padding: 10px 20px;
    overflow: hidden;
    transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
}

.sidebar > ul > li > ul > li a:hover {
    background-color: #00c1de;
}

.sidebar > ul > li > ul > li .menu-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar > ul > li > ul > li.selected a {
    background: #00c1de none repeat scroll 0 0;
}
