body {
    color: #333;
    background: #fff none repeat scroll 0 0;
    -ms-overflow-style: scrollbar;
}

body, button, input, select, textarea {
    font: 12px/1.5 "微软雅黑","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"宋体";
}

ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style: outside none none;
}

a, a:hover, a:link, a:visited {
    color: #108cee;
    text-decoration: none;
}

a:focus {
    outline: 0 none;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.left, .right {
    display: inline;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.container {
    min-width: 1000px;
    max-width: 1200px;
    padding-right: 0;
    padding-left: 0;
}

.index-top-banner {
    min-width: 1000px;
}

.index-top-banner .top-banner > ul {
    height: 400px;
    overflow: hidden;
}

.index-top-banner .top-banner > ul > li {
    width: 100%;
    height: 100%;
    position: relative;
    background: #22252a none repeat scroll 0 0;
}

.index-top-banner .top-banner > ul > li img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}

.index-top-banner .top-banner > ul > li .banner-1 {
    background: url(/Content/images/banners/banner-1.png) center top no-repeat;
}

.index-top-banner .top-banner > ul > li .banner-2 {
    background: url(/Content/images/banners/banner-2.png) right top no-repeat;
}

.index-top-banner .top-banner > ul > li .banner-3 {
    background: url(/Content/images/banners/banner-3.png) right top no-repeat;
}

.index-top-banner .top-banner li > .container {
    position: relative;
    background: transparent none repeat scroll 0 0;
}

.index-top-banner .top-banner li > .container > .row-box {
    position: relative;
    background: transparent none repeat scroll 0 0;
}

.index-top-banner .top-banner .slogan {
    position: absolute;
    left: 0;
    top: 80px;
    color: #fff;
    text-align: left;
    z-index: 2;
}

.index-top-banner .top-banner .slogan > h1 {
    margin: 0;
    line-height: 50px;
    font-size: 40px !important;
    text-align: left;
}

.index-top-banner .top-banner .slogan > p {
    margin: 0;
    line-height: 50px;
    font-size: 18px !important;
    text-align: left;
}

.index-top-banner .top-banner .slogan > .slogan-btn {
    display: block;
    height: 36px;
    width: 120px;
    overflow: hidden;
    margin: 20px 0 0 0;
    line-height: 2;
    text-align: center;
    font-size: 16px !important;
    color: #fff;
    border: 1px solid #fff;
    background: transparent none repeat scroll 0 0;
    -webkit-transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
}

.index-top-banner .top-banner .slogan > .slogan-btn:hover {
    color: #373d41;
    background: #fff none repeat scroll 0 0;
}

.index-top-events {
    min-width: 1000px;
}

.index-top-events .top-events {
    padding-top: 20px;
    padding-bottom: 20px;
}

.index-top-events .top-events .events {
    display: block;
    overflow: hidden;
    color: #108cee;
    background: #fff;
    border: 1px solid #dbdbdb;
}

.index-top-events .top-events .events:hover {
    border: 1px solid #108cee;
    box-shadow: 0 0 5px rgba(16,140,238, 0.5);
}

.index-top-events .top-events .events > .event-icon {
    float: left;
    font-size: 60px;
    height: 100px;
    width: 100px;
    line-height: 1.7;
    text-align: center;
}

.index-top-events .top-events .events > .slogan {
    font-size: 16px;
    height: 100px;
    overflow: hidden;
}

.index-top-events .top-events .events > .slogan > h3 {
    color: #333;
    font-size: 16px;
    margin-top: 27px;
    margin-bottom: 5px;
}

.index-top-events .top-events .events:hover > .slogan > h3 {
    color: #108cee;
}

.index-top-events .top-events .events > .slogan > p {
    color: #999;
    font-size: 14px;
}

.index-products-sale {
    min-width: 1000px;
    background: #f5f5f5 none repeat scroll 0 0;
}

.index-products-sale .products-sale {
    padding-top: 40px;
    padding-bottom: 40px;
}

.index-products-sale .products-sale > .products-title {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}

.index-products-sale .sale-box {
    padding: 0;
    border: 1px solid #eee;
    background: #fff none repeat scroll 0 0;
}

.index-products-sale .tabs {
    height: 60px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.index-products-sale .tab-item {
    color: #666;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding-left: 50px;
    text-align: center;
    width: 250px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.index-products-sale .tab-item:hover {
    color: #108cee;
}

.index-products-sale .tab-item.active {
    color: #108cee;
}

.index-products-sale .tab-item div {
    border-bottom: 1px solid #eee;
    margin-top: -1px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.index-products-sale .tab-item.active div {
    border-bottom-color: #108cee;
}

.index-products-sale .content {
    position: relative;
}

.index-products-sale .content-item {
    width: 100%;
    padding: 30px 20px;
    display: none;
    z-index: 1;
}

.index-products-sale .content-item.active {
    display: block;
    z-index: 2;
}

.index-products-sale .content-item .container-fluid {
    margin: 0;
    padding: 0;
}

.index-products-sale .content-item .row {
    margin: 0;
    padding: 0;
}

.index-products-sale .content-item .row > div {
    margin: 0;
    padding: 0;
}

.index-products-sale .content-item .row > .pros0 {
    position: relative;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 0 20px 20px 0;
}

.index-products-sale .content-item .row > .pros1 {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 0 0 20px 20px;
}

.index-products-sale .content-item .row > .pros2 {
    position: relative;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 20px 20px 20px 0;
}

.index-products-sale .content-item .row > .pros3 {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 20px 0 20px 20px;
}

.index-products-sale .content-item .row > .pros4 {
    position: relative;
    border-right: 1px solid #eee;
    padding: 20px 20px 0 0;
}

.index-products-sale .content-item .row > .pros5 {
    position: relative;
    padding: 20px 0 0 20px;
}

.index-products-sale .content-item .products-main::before, .index-products-sale .content-item .products-main::after {
    content: "";
    display: table;
}

.index-products-sale .content-item .products-main::after {
    clear: both;
}

.index-products-sale .content-item .products-main > .products-icon {
    float: left;
    height: 62px;
    width: 65px;
    background: url(/Content/images/product-icons.png) 0 0 no-repeat;
}

.index-products-sale .content-item .products-main > .product-icons-101 {
    background-position: 0 0;
}

.index-products-sale .content-item .products-main > .product-icons-102 {
    background-position: 0 -65px;
}

.index-products-sale .content-item .products-main > .product-icons-103 {
    background-position: 0 -130px;
}

.index-products-sale .content-item .products-main > .product-icons-104 {
    background-position: 0 -195px;
}

.index-products-sale .content-item .products-main > .product-icons-105 {
    background-position: 0 -260px;
}

.index-products-sale .content-item .products-main > .product-icons-106 {
    background-position: 0 -325px;
}

.index-products-sale .content-item .products-main > .product-icons-107 {
    background-position: 0 -390px;
}

.index-products-sale .content-item .products-main > .product-icons-108 {
    background-position: 0 -455px;
}

.index-products-sale .content-item .products-main > .product-icons-201 {
    background-position: -65px 0;
}

.index-products-sale .content-item .products-main > .product-icons-202 {
    background-position: -65px -65px;
}

.index-products-sale .content-item .products-main > .product-icons-203 {
    background-position: -65px -130px;
}

.index-products-sale .content-item .products-main > .product-icons-204 {
    background-position: -65px -195px;
}

.index-products-sale .content-item .products-main > .product-icons-205 {
    background-position: -65px -260px;
}

.index-products-sale .content-item .products-main > .product-icons-206 {
    background-position: -65px -325px;
}

.index-products-sale .content-item .products-main > .product-icons-207 {
    background-position: -65px -390px;
}

.index-products-sale .content-item .products-main > .product-icons-208 {
    background-position: -65px -455px;
}

.index-products-sale .content-item figcaption {
    margin-left: 65px;
    padding-left: 20px;
}

.index-products-sale .content-item figcaption > h3 {
    margin: 0 0 10px;
    color: #666;
    font-size: 18px;
    font-weight: 400;
}

.index-products-sale .content-item figcaption > p {
    color: #999;
    font-size: 14px;
    margin: 0;
    height: 65px;
    overflow: hidden;
}

.index-products-sale .content-item .products-image {
    position: relative;
    height: 220px;
    padding: 0;
    margin: 0;
    border: 1px solid #c5d8db;
    text-align: center;
    overflow: hidden;
}

.index-products-sale .content-item .products-image > img {
    height: 100%;
    width: 100%;
}

.index-products-sale .content-item .products-image > .bg {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-products-sale .content-item .products-image:hover .bg {
    opacity: 0.8;
    background: #108cee none repeat scroll 0 0;
}

.index-products-sale .content-item .products-image > .products-detail {
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-products-sale .content-item .products-image > .products-detail > a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 7px 20px;
    margin: 0 auto;
    width: 120px;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-products-sale .content-item .products-image > .products-detail > a:hover {
    background: #fff none repeat scroll 0 0;
    color: #108cee;
}

.index-products-sale .content-item .products-price::before, .index-products-sale .content-item .products-price::after {
    content: "";
    display: table;
}

.index-products-sale .content-item .products-price::after {
    clear: both;
}

.index-products-sale .content-item .products-price {
    height: 40px;
    margin-top: 20px;
    position: relative;
}

.index-products-sale .content-item .products-price > p {
    margin: 0;
    float: left;
}

.index-products-sale .content-item .products-price > p span {
    color: #999;
    display: block;
    font-size: 14px;
}

.index-products-sale .content-item .products-price > p strong {
    font-size: 18px;
    font-weight: lighter;
}

.index-products-sale .content-item .products-price > p small {
    color: #ff8a00;
}

.index-products-sale .content-item .products-price > p .old {
    text-decoration: line-through;
}

.index-products-sale .content-item .products-price > a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #108cee;
    color: #108cee;
    display: block;
    float: right;
    font-size: 14px;
    padding: 10px 25px;
    -webkit-transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
    -moz-transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
    -o-transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
    transition: color 0.3s ease-in-out 0s, background 0.3s ease-in-out 0s;
}

.index-products-sale .content-item .products-price > a:hover {
    background: #108cee none repeat scroll 0 0;
    color: #fff;
}

.index-solutions-sale {
    display: none;
    min-width: 1000px;
    background: #fff none repeat scroll 0 0;
}

.index-solutions-sale .solutions-sale {
    margin: 0 auto;
    padding: 40px 0;
}

.index-solutions-sale .solutions-sale > .solutions-title {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}

.index-solutions-sale .sale-box {
    position: relative;
    padding: 0;
    margin: 0;
}

.index-solutions-sale .slide-btn-panel, .index-solutions-sale .slide-btn {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    bottom: 0;
    cursor: pointer;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 50px;
}

.index-solutions-sale .slide-btn-panel > .btn-bg {
    background: #161a1d none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
}

.index-solutions-sale .slide-btn-panel i {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    opacity: 0.7;
}

.index-solutions-sale .slide-btn-panel:hover i {
    opacity: 1;
}

.index-solutions-sale .slide-btn-panel.left-btn, .index-solutions-sale .slide-btn.left-btn {
    left: 0;
}

.index-solutions-sale .slide-btn-panel.right-btn, .index-solutions-sale .slide-btn.right-btn {
    right: 0;
}

.index-solutions-sale .sale-box > .slide-body {
    overflow: hidden;
    position: relative;
}

.index-solutions-sale .solutions-banner > ul > li {
    position: relative;
    background: transparent none repeat scroll 0 0;
}

.index-solutions-sale .slide-item {
    position: relative;
    height: 400px;
    padding: 0;
    text-align: center;
}

.index-solutions-sale figure > img {
    height: 100%;
    width: 100%;
}

.index-solutions-sale figure > figcaption {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 120px;
}

.index-solutions-sale figure > figcaption > .solution-sale-icon {
    font-size: 60px;
    color: #fff;
}

.index-solutions-sale figure > .bg {
    background: #161a1d none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions-sale figure > .bg.even {
    opacity: 0.82;
}

.index-solutions-sale .slide-item:hover .bg {
    background: #108cee none repeat scroll 0 0;
    opacity: 0.8;
}

.index-solutions-sale figure > figcaption > h3 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    margin: 24px 0;
    padding: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions-sale figure > figcaption > p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0 23px;
    text-align: center;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions-sale figure > figcaption > a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 7px 20px;
    margin: 0 auto;
    margin-top: 200px;
    width: 120px;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions-sale figure > figcaption > a:hover {
    background: #fff none repeat scroll 0 0;
    color: #108cee;
}

.index-solutions {
    min-width: 1000px;
    background: #fff none repeat scroll 0 0;
}

.index-solutions > .solutions-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.index-solutions > .solutions-box > .solutions-title {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}

.index-solutions > .solutions-box > .solutions-content > .top {
    margin-top: 30px;
}

.index-solutions > .solutions-box > .solutions-content > .bottom {
    margin-bottom: 30px;
}

.index-solutions > .solutions-box > .solutions-content .solutions-item {
    position: relative;
    height: 360px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.index-solutions > .solutions-box > .solutions-content figure > img {
    height: 100%;
    width: 100%;
}

.index-solutions > .solutions-box > .solutions-content figure > figcaption {
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.index-solutions > .solutions-box > .solutions-content figure > figcaption > .solution-icon {
    font-size: 60px;
    color: #fff;
}

.index-solutions > .solutions-box > .solutions-content figure > .bg {
    background: #161a1d none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions > .solutions-box > .solutions-content figure > .bg.even {
    opacity: 0.82;
}

.index-solutions > .solutions-box > .solutions-content .solutions-item:hover .bg {
    background: #108cee none repeat scroll 0 0;
    opacity: 0.8;
}

.index-solutions > .solutions-box > .solutions-content figure > figcaption > h3 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    margin: 24px 0;
    padding: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions > .solutions-box > .solutions-content figure > figcaption > p {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0 24px;
    text-align: center;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions > .solutions-box > .solutions-content figure > figcaption > a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 7px 20px;
    margin: 0 auto;
    margin-top: 100px;
    width: 120px;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.index-solutions > .solutions-box > .solutions-content figure > figcaption > a:hover {
    background: #fff none repeat scroll 0 0;
    color: #108cee;
}

.index-forums-sale {
    background: #f5f5f5 none repeat scroll 0 0;
    min-width: 1000px;
}

.index-forums-sale .forums-sale {
    padding-top: 40px;
    padding-bottom: 40px;
}

.index-forums-sale .forums-sale > .forums-title {
    color: #333;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
}

.index-forums-sale .forums-box .title {
    position: relative;
    border-bottom: 1px solid #c5d8db;
    margin-bottom: 20px;
    font-size: 14px;
    color: #373d41;
    padding: 5px 0;
}

.index-forums-sale .forums-box .title a {
    float: right;
    margin-top: 5px;
    font-size: 12px;
}

.index-forums-sale .forums-box .content {
    position: relative;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px #cdcdcd;
}

.index-forums-sale .forums-box .content img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

.index-forums-sale .forums-box .content:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.index-forums-sale .forums-box .content-title {
    width: 100%;
    height: 35px;
    background: #373d41 none repeat scroll 0 0;
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    line-height: 35px;
    padding-left: 5px;
}

.index-forums-sale .forums-box .content-title a {
    color: #fff;
    font-size: 14px;
}

.index-forums-sale .forums-box .content-title a:hover {
    color: #108cee;
}

.page-top-banner {
    min-width: 1000px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    height: 220px;
}

.page-top-banner .header > h3 {
    color: #fff;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.page-top-banner .header > p {
    color: #fff;
    font-size: 18px;
    width: 500px;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #fff;
}

.page-top-banner.page-service {
    background-image: url(/Content/images/top-service-banner.png);
}

.page-top-banner.page-news {
    background-image: url(/Content/images/top-news-banner.png);
}

.page-top-banner.page-about {
    background-image: url(/Content/images/top-about-banner.png);
}

.page-common-content {
    min-width: 1000px;
    min-height: 800px;
}

.breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    padding: 8px 5px;
    background: transparent none repeat scroll 0 0;
}

.introduce-sales {
    display: none;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

.introduce-sales > .prices {
    line-height: 25px;
    margin-bottom: 10px;
}

.introduce-sales > .prices > span {
    color: #999;
    display: block;
    font-size: 14px;
}

.introduce-sales > .prices > span strong {
    font-size: 18px;
    font-weight: lighter;
}

.introduce-sales > .prices > span small {
    color: #ff8a00;
}

.introduce-sales > .prices > span small.old {
    text-decoration: line-through;
}

.introduce-contact-us {
    border-top: 1px solid #e6e6e6;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
}

.introduce-contact-us > .contact-telephone {
    float: left;
    font-size: 18px;
    line-height: 1.2;
    color: #ff8a00;
}

.introduce-contact-us > .contact-telephone i {
    display: inline-block;
    font-size: 40px;
    margin-right: 5px;
    vertical-align: top;
}

.introduce-contact-us > .contact-telephone .telephone {
    display: inline-block;
}

.introduce-contact-us > .contact-telephone .telephone > .telephone-name {
    font-size: 16px;
}

.introduce-contact-us > .contact-qq {
    float: right;
}

.introduce-contact-us > .contact-qq > a.btn-blue {
    margin-right: 0 !important;
}

.introduce-contact-us > .contact-qq > a i {
    font-size: 18px;
    vertical-align: middle;
}

a.btn-blue, a.btn-white {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}

a.btn-blue, a.btn-blue:link, a.btn-blue:visited, a.btn-white, a.btn-white:link, a.btn-white:visited {
    display: inline-block;
    width: 150px;
    padding: 8px 0;
    background: #108cee;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-right: 5px;
    border: solid 1px #108cee;
}

a.btn-blue:hover {
    background: #33b5d4;
    border-color: #33b5d4;
}

a.btn-white, a.btn-white:link, a.btn-white:visited {
    background: #fff;
    border-color: #108cee;
    color: #108cee;
}

a.btn-white:hover {
    background: #33b5d4;
    border-color: #33b5d4;
    color: #fff;
}
